body {
  background-color: #44454D;
  }
  
  .intro-image {
    width: 100%;
  }
  .firstgrid {
    display: grid;
    grid-template-columns: 20% 76%;
    width: 100%;
    grid-column-gap: 4%;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 180px;
    background-color: lightblue;
    border: 5px solid #F0BD5E;  
  }
  
  li {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 22px;
    border-bottom: 1px solid #555;
    background: #131E1D;
    font-size: 30px;
    color: #F0BD5E;
  
  
  }
  
  li:hover {
    background-color: #555;
    color: white;
  }
  
  
  .whatis {
    border: solid #F0BD5E;
    background: #131E1D;
    border-radius: 18px;
    font-size: 30px;
    color: #F0BD5E;
    text-align: center;
    
  }
  
  .p1, .p2, .p3, .p4, .p5 {
    font-size: 18px;
    text-align: center;
    border: solid #F0BD5E;
    background: #131E1D;
    border-radius: 18px;
    padding: 5px;
    color: #F0BD5E;
  }
  
  .middletext {
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
  }
  
  .last-part {
    display: grid;
      grid-template-columns: 48% 48%;
    grid-column-gap: 4%;
    width: 100%;
    
  }
  
  .homescreen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  
  h2 {
    text-align: center;
  }
  
  .specs {
    border: solid #F0BD5E;
    background: #131E1D;
    border-radius: 18px;
    font-size: 20px;
    color: #F0BD5E;
    width: 100%;
  
  }
  
  
  
  @media (max-width: 550px)
  /* blev rekommenderad att 992px är bra för både ipad och telefon, albin sjölin hälsar! */
  { 
  
  .intro-image {
    width: 100%;
    margin: 10px;
  }
  .firstgrid {
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 5%;
    width: 100%;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: lightblue;
    border: 5px solid #F0BD5E;  
    text-align: center;
  }
  
  li {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 22px;
    border-bottom: 1px solid #555;
    background: #131E1D;
    font-size: 30px;
    color: #F0BD5E;
  
  }
  
  .whatis {
    border: solid #F0BD5E;
    background: #131E1D;
    border-radius: 18px;
    font-size: 28px;
    color: #F0BD5E;
    text-align: center;
    margin: 10px;
  
  }
    .last-part {
      display: grid;
      grid-template-columns: 100%;
    }
    
    }
   

  
  
  
  
  
  
  
  
  
  
  
  